body
{
    background-color:  darkblue;
    padding-top: 15px;
}
.well
{
    padding: 50px;
    margin: 50px;
    margin-top: 0px;
}
img
{
    width:100%;
    position: relative;
}
.draggable
{

}
.ui-widget-content
{
    border-radius: 20px;
    margin-bottom: 20px;
}
  .alert {
      position: fixed;
      top: 50px;
      right: 25px;
      z-index: 9999 !important;
      display: none;
  }
  #cart {
      position: fixed;
      bottom: 100px;
      right: 50px;
      z-index: 9999 !important;
  }
  .nowPlaying {
       width: 100%;
       min-height: 75px;
       z-index: 1000;
       position: fixed;
       bottom: 0px;
       left: 0px;
       background-color: white;
 }
 .li { display: inline-block; }

 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
 }

 td:nth-child(even) {
     background-color: rgb(230,230,230);
    }

 td:nth-child(odd) {
     background-color: rgb(243,243,243);
 }
